.card {
    position: relative;
    width: 16rem;

    border-radius: 3px;
    background-color: rgba(62, 62, 62, 0.258);
    padding: 1rem;
    margin: 10px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
    width: 15rem;
    height: 20rem;
    background-size: cover;
    background-position: center;
}
span{
        color: white;
            padding: 3px;
}
}



// .anime-card-title {
//     color: white;
//     padding: 3px;
// }

// .anime-card-episodes {
//     color: white;
//     padding: 3px;
// }

// .anime-card-score {
//     color: white;
//     padding: 3px;
// }

// .anime-card-additional-info-box {
//     display: flex;
//     justify-content: space-around;

// }